<%= form_for(@chess_game) do |f| %>
  <% if @chess_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chess_game.errors.count, "error") %> prohibited this chess_game from being saved:</h2>

      <ul>
      <% @chess_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gameType %><br>
    <%= f.text_field :gameType %>
  </div>
  <div class="field">
    <%= f.label :playerWhiteId %><br>
    <%= f.number_field :playerWhiteId %>
  </div>
  <div class="field">
    <%= f.label :playerBlackId %><br>
    <%= f.number_field :playerBlackId %>
  </div>
  <div class="field">
    <%= f.label :accessCode %><br>
    <%= f.text_field :accessCode %>
  </div>
  <div class="field">
    <%= f.label :publicMatch %><br>
    <%= f.check_box :publicMatch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
