<p id="notice"><%= notice %></p>

<h1>Listing Chess Games</h1>

<table>
  <thead>
    <tr>
      <th>Gametype</th>
      <th>Accesscode</th>
      <th>Publicmatch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chess_games.each do |chess_game| %>
      <tr>
        <td><%= chess_game.gameType %></td>
        <td><%= chess_game.accessCode %></td>
        <td><%= chess_game.publicMatch %></td>
        <td><%= link_to 'Show', chess_game %></td>
        <td><%= link_to 'Edit', edit_chess_game_path(chess_game) %></td>
        <td><%= link_to 'Destroy', chess_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chess game', new_chess_game_path %>
