<p id="notice"><%= notice %></p>

<h1>Listing Game Saves</h1>

<table>
  <thead>
    <tr>
      <th>Row</th>
      <th>Col</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_saves.each do |game_safe| %>
      <tr>
        <td><%= game_safe.row %></td>
        <td><%= game_safe.col %></td>
        <td><%= link_to 'Show', game_safe %></td>
        <td><%= link_to 'Edit', edit_game_safe_path(game_safe) %></td>
        <td><%= link_to 'Destroy', game_safe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game save', new_game_safe_path %>
