<p id="notice"><%= notice %></p>

<p>
  <strong>Row:</strong>
  <%= @game_safe.row %>
</p>

<p>
  <strong>Col:</strong>
  <%= @game_safe.col %>
</p>

<%= link_to 'Edit', edit_game_safe_path(@game_safe) %> |
<%= link_to 'Back', game_saves_path %>
