<p id="notice"><%= notice %></p>

<p>
  <strong>Piecetype:</strong>
  <%= @chess_piece.pieceType %>
</p>

<p>
  <strong>Pieceimage:</strong>
  <%= @chess_piece.pieceImage %>
</p>

<p>
  <strong>Initialrow:</strong>
  <%= @chess_piece.initialRow %>
</p>

<p>
  <strong>Initialcol:</strong>
  <%= @chess_piece.initialCol %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @chess_piece.integer %>
</p>

<%= link_to 'Edit', edit_chess_piece_path(@chess_piece) %> |
<%= link_to 'Back', chess_pieces_path %>
